# General
node_modules/
dist/
dist-electron/
release/
*.log

# Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Project specific
yt-cookies.txt
downloads/
*.sqlite
*.sqlite-journal

# IDEs
.idea/
.qodo/
